body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
    padding: 50px;
}

.player {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

h1 {
    color: darkblue;
    font-size: 24px;
}

.album {
    margin: 20px 0;
}

.album-box {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    margin: 0 auto;
    font-size: 60px;
    line-height: 150px;
}

.info h2 {
    font-size: 18px;
    color: black;
}

.info p {
    font-size: 14px;
    color: gray;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    margin: 20px 0;
}

.bar {
    width: 50%;
    height: 10px;
    background-color: blue;
}

.play-button {
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.play-button:hover {
    background-color: darkgreen;
}